@font-face {
    font-family: mr-eaves-xl-modern,sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    font-size: 1rem;
    font-family: mr-eaves-xl-modern,sans-serif;
    background-color:lavender;
}

h1{
    font-weight: normal;
    
}

h2{
    font-size: 3rem;
    margin: 2.1rem;
    font-weight: normal;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.response-container{
    padding: 1rem;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 25px;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}








.image{
    width: 100%;
    height: auto;
    display: none;
}
.image.active{
    display: block;
    

}

.summary{
    display: none;
}

.summary.active{
    display: block;
}

.response-container:hover{
color: #fc8803;
font-style: italic;
}

.year{
    padding-left: 5rem;
}




@media only screen and (max-width: 600px) {
    h2{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    body {
        font-size: .5rem;
    }

    .year{
        padding-left: 1rem;
     }
     .image.active{
        display: block;
        padding-left: 8rem;
    
    }
    

  }