@font-face {
    font-family: mr-eaves-xl-modern,sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    font-size: 1rem;
    font-family: mr-eaves-xl-modern,sans-serif;
    background-color:white;
    color: #3beb02;
    padding: 2rem;
    padding-top: 2rem;

}

h1{
    font-weight: normal;
    
}

h2{
    font-size: 3rem;
    margin: 2.1rem;
    font-weight: 500;
    padding-bottom: 3rem;
}

.header{
display: flex;
justify-content: space-between;
}

p{
    font-size: 1.5rem;
    font-style: normal;
}

.response-container{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 25px;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    padding-left: 12rem;
}








.image{
    width: 80%;
    height: auto;
    display: none;
    
}
.image.active{
    display: block;
    padding-left: 20rem;
    

}

.summary{
    display: none;
}

.summary.active{
    display: block;
}

.response-container:hover{
font-style: italic;
color: #3beb02;
}

.year{
    padding-left: 5rem;
}




@media only screen and (max-width: 600px) {
    h2{
        font-size: 2rem;
        padding-bottom: 0rem;
    }
    body {
        font-size: .5rem;
        padding:0rem;

    }
    p{
        font-size: 1rem;
    }

    .year{
        padding-left: 1rem;
     }
     .image.active{
        display: block;
        padding-left: 0rem;
        height: 200px;
        width: auto;
    
    }

    .summary.active{
        display: none;
    }
    
    .response-container{
        padding-left: 1rem;
    }

    #class{
        display: none;
    }
    
    #name{
        display: none;
    }
    

  }